@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


:root{
    --btn-background-color: rebeccapurple;
    --btn-color:#d1c9da;
    --background-body: rgb(161, 100, 223);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-body);
    overflow: hidden;
}

.btn{
    background-color: var(--btn-background-color);
    border-radius: 5px;
    color: var(--btn-color);
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
}

.btn:hover{
    opacity: .9;
}

.btn:focus{
    outline: none;
}