@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


:root{
    --btn-background-color:#330e5e;
    --btn-color:#d1c9da;
    --background-body: #854bc9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-body);

}

.container{
    display: flex;
    gap: 3rem;
}

.btn{
    padding: 1rem 1.5rem;
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    font-size: 1.2rem;
    cursor: pointer;
}