@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


:root{
    --background-body: #686de0;
    --title-color: #817676;
    --joke-color: black;
    --btn-background: #9f68e0;
    --btn-color: #ffffff;
    --container-background:#fff;
    --border-radius: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-body);
    overflow: hidden;
    padding: 20px;
}

.container{
    background-color: var(--container-background);
    padding: 50px 20px;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 100%;
    width: 800px;
}

h3{
    opacity: .5;
    letter-spacing: 2px;
    color: var(--title-color);
}

.joke{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    margin: 50px auto;
    max-width: 600px;
}

.btn{
    cursor: pointer;
    background-color: var(--btn-background);
    color: var(--btn-color);
    padding: 14px 40px;
    border-radius: var(--border-radius);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.btn:active{
    transform: scale(.98);
}

.btn:focus{
    outline: 0;
}